<!-- create boilerplate HTML -->
  <body>
    <div>
        <div>
             <form action="/artist-search" method="GET">
            <label type="query"></label>
            <input type="text" id="query" name="q">
            </div>
    </div>
  </body>
